<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
    </head>
    <body>
        {% for flash_message in app.session.flashBag.get('success') %}
            <div id="flash-notice" class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('warning') %}
            <div id="flash-notice" class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
        <h1>{{ page_title }}</h1>
 		{{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_end(form) }} 

        <table>
    		<tr>
    			<th>Movies Owned</th>
    		</tr>
        {% for movieTitle in movieTitles %}
        	<tr> 
	            <td>{{ movieTitle }}</td>
        	</tr> 
        {% endfor %}
        </table>
    </body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <script>
        $('#flash-notice').fadeOut( 5000 );
    </script>
    <style>
        #flash-notice{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    </style>
</html>